@font-face {
    font-family: InterRegular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

body {
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    font-family: InterRegular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.parent-container > h3 {
    font-weight: 600;
}

.parent-container > h6 {
    color: hsl(75, 94%, 57%);
}

.parent-container > p {
    font-family: InterRegular;
    font-size: 11px;
    color: hsl(39 0% 85%);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.attribution { 
    color: white;
    font-size: 11px; 
    text-align: center; 
    padding-top: 15px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}