@font-face {
    font-family: InterRegular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}

body {
    background-color: hsl(0, 0%, 8%);
    margin: 0;
    font-family: InterRegular;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 300px;
    max-width: 90%;
    padding: 45px 20px 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.parent-container > h3 {
    font-weight: 600;
    margin: 25px 0 10px 0;
}

.parent-container > h6 {
    color: hsl(75, 94%, 57%);
    margin: 0 0 25px 0;
}

.parent-container > p {
    font-size: 11px;
    color: hsl(39 0% 85%);
    margin: 0 0 20px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    background-color: hsl(0, 0%, 20%);
    border-radius: 5px;
    font-family: InterRegular;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    padding: 10px 80px 10px 80px;
    margin: 5px;
    border: none;
}

.attribution { 
    color: white;
    font-size: 11px; 
    text-align: center; 
    padding-top: 15px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 480px) {
    .parent-container {
        width: 75%;
        padding: 15px;
        box-sizing: border-box;
    }

    img {
        width: 50px;
    }

    .parent-container > h3 {
        font-size: 16px; 
    }

    .parent-container > h6 {
        font-size: 12px;
    }

    .buttons button {
        font-size: 5px; 
        padding: 8px 25px 8px 25px; 
    }
 }
 
 @media (max-width: 768px) {
    .parent-container {
        width: 80%; 
        padding: 20px;
        box-sizing: border-box;
    }

    img {
        width: 60px;
    }

    .parent-container > h3 {
        font-size: 18px;
    }

    .buttons button {
        font-size: 14px;
    }
 }
 
 @media (max-width: 1024px) {
    .parent-container {
        width: 90%; 
        box-sizing: border-box;
    }

    img {
        width: 70px; 
    }

    .buttons button {
        font-size: 16px;
    }
 }